{% extends 'base.html' %}
{% block title %}{{ profil.username }} page{% endblock %}

{% block content %}
    <h1>Страница пользователя {{ profil.username }}</h1>
    <a href="{% url 'update' profil.pk %}">Заполнить профиль</a>
    <a href="{% url 'addpost' %}">Добавить объявление</a>
    <p>{{ profil.email }}</p>
    {% if profil.birthday %}
    <p>Дата рождения: {{ profil.birthday }}</p>
    {% endif %}
    {% if profil.avatar %}
    <p>Аватар: <img src="{{ profil.avatar.url }}"></p>
    {% endif %}
    {% if profil.first_name %}
    <p>{{ profil.first_name }}</p>
    {% endif %}
    {% if profil.last_name %}
    <p>{{ profil.last_name }}</p>
    {% endif %}
    <hr><hr>
<div class="container">
    <div class="row">

        <div class="col-sm">
        <h4>Ваши опубликованные объявления</h4>
        {% for post in posts %}
            <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> опубликовано: {{ post.dateCreation }}</p>
        {% endfor %}
        </div>

        <div class="col-sm">
        <h4>Отклики на Ваши объявления</h4>
        {% for r in responds %}
            <p>{{ r.respauthor }}</p>
            <p>{{ r.post }}</p>
            <p>{{ r.text }}</p>
            <p>{{ r.dateCreation }}</p>
            <a href="{% url 'resp_delete' r.pk %}">Удалить отклик</a>
            <hr>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}